#all{
    background-color: #99e6ff;
    text-align: center;
    margin-right: 200px;
    margin-left: 200px;
    padding-bottom: 50px;
    padding-top: 50px;
}

input[type="radio"] {
     margin-top: -1px;
     vertical-align: middle;
 }

#countdown{
    font-size: 40px;
    cursor: pointer;
    display: block;
    float: right;
    z-index: 3;
    position: absolute; /*newly added*/
    right: 220px; /*newly added*/
    top: 10px;/*newly added*/
}

